@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 margin: 0;
 padding: 0;
  background: linear-gradient(0deg, #000, #1b1747);
}
.shadow {
  position: relative;
  box-sizing: content-box;
  padding: 15px;
  min-width: 850px;
  min-height: 700px;
  border-radius: 1.5%;
  color: #3c763d;
  background: linear-gradient(0deg, #000, #221d59);
  text-align: center;
  justify-content: center;
}
.shadow::before,
.shadow::after {
  content: '';
  border-radius: 1.5%;
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #ed83379e, #ed8337);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
.shadow::after {
  filter: blur(20px);
}
@keyframes animate {
  0%, 100% {background-position: 0 0;}
  50% {background-position: 300% 0;}
}
.field{
  margin-top: 20px;
  color: #d98536;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  min-height: 30px;
  min-width: 500px;
  background-color: #3d49828d;
  border: 2px solid #10053b;
}
::-webkit-input-placeholder {
   color: #d98536;
}
.field:focus {
  outline: none;
}
.ans{
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  color: #ed8337;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  min-height: 30px;
  width: 500px;
  letter-spacing: 2.5px;
}
.circle{
  cursor: pointer;
  background: radial-gradient(#0c0b21, #403b75);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  border: 3px solid #ed8337;
}
.circleImg{
  opacity: 30%;
  margin-top: 75px;
  margin-bottom: auto;
  width: 350px;
  height: 350px;
}

.circle:hover {
  pointer: cursor;
  animation: shake 1s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}
@keyframes text {
  from{
    opacity: 0;
  }
}
